@import "font.css";

p {
    background-color: pink;
}

#ts {
    width: 768px;
    height: 1024px;
    background-image: url("../images/001.jpg");

}

#loading {
    width: 768px;
    height: 1024px;
    background-image: url("../images/002.jpg");
}